@import "_variables.scss";

.parallax-image {
  display: block;
  height: 70vh;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  .text-container {
    margin: 0 2rem;
    h3 {
      font-size: 2rem;
      text-align: center;
      margin: 1rem 0;
      @media ($no-mobile) {
        font-size: 3rem;
      }
    }
    p {
      text-align: end;
      font-size: 1.3rem;
      margin: 1rem 0;
      @media ($no-mobile) {
        font-size: 2rem;
      }
    }
  }
}
